six>=1.6
pytest==6.2.5
PyYAML==5.4
packaging==19.0
scales==1.0.9
mock==4.0.3
pytz==2019.1
sure==1.4.11
psutil==5.6.6
pure-sasl==0.6.1
Twisted==22.10.0
unittest2==1.1.0 ; python_version < '3'
gevent>=1.0
greenlet
cython
jinja2==3.0.3
boto3==1.20.51
